{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jeu.css') }}">
{% endblock %}

{% block content %}
<div id="jeu">
    <h1>Jeu du nombre mystère</h1>
    {% if session["en_cours"] %}
        <p>J'ai choisi un chiffre entre 0 et 100</p>
        <form action="{{ url_for('jeu')}}" method="POST">
            <p>
                <label for="nombre">Devine le nnombre : </label>
                <input type="number" name="nombre" id="nombre" required autofocus>
            </p>
            <p>
                <input class="btn" type="submit" value="Valider">
            </p>
        </form>
        <hr>
        {% if message %}
            {{ message }}
        {% endif %}
        <p>Il reste {{ session["essai"]}} tentative(s)</p>
        <a href="{{ url_for('jeu') }}">Recommencer</a>
        {% if session["tent"] != [] %}
            <table>
                <thead>
                    <tr>
                        <td>Tentative</td>
                        <td>Résultat</td>
                    </tr>
                </thead>
                <tbody>
                    {% for essai in session["tent"] %}
                    <tr>
                        <td>{{ essai }}</td>
                        <td>{{ "C'est plus" if session["nb"] > essai else "C'est moins"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        {% if message %}
            {{ message }}
            {% if session["essai"] > 0 %}
                <p>Tu as trouvé {{ session["nb"] }} en {{ 10-session['essai'] }} tentatives !</p>
            {% else %}
                <p>Il fallait trouvé {{ session["nb"]}}...</p>
            {% endif %}
        {% endif %}
        <a href="{{ url_for('jeu') }}">Rejouer</a>
    {% endif %}
</div>
{% endblock %}